body {
  background-color: #ECF7F3;
}

._container {
  max-width: 1205px;
  padding: 0 46px;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #7C7C7C;
}

.text-orange {
  color: #FF8345;
}